*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: var(--color--primary--300) 1px solid; */
}

*::before{
  box-sizing: border-box;
}

*::after{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: var(--color--primary--500) !important;

}

svg, img {
  display: block;
  max-width: 100%;
}

:root{
  --color--primary--100: #FAFAFA;
  --color--primary--200: #eae9e9;
  --color--primary--300: #4464AD;
  --color--primary--500: #f57729;

  --ff--primary: "Poppins", sans-serif;
  --ff--secondary: "Quicksand", sans-serif;

  --fs--primary: 50px;
}

h1{
  font-family: var(--ff--primary);
  font-size: 4.2rem;
}

h2{
  font-family: var(--ff--primary);
  font-size: 2.6rem;
}

h3{
  font-family: var(--ff--secondary);
  font-size: 1.4rem;
}
p{
  font-family: var(--ff--secondary);
  font-size: 1.6rem;
}

main{
  display: grid;
  grid-template-columns: 16% 84%;
}

aside ul li {
  display: block;

  font-family: var(--ff--secondary);
  font-weight: ;
}

aside ul li a{
  text-decoration: none;
  color: var(--color--primary--100);
}

/* navbar hover effect */
.nav_list a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Hover effect: underline transition */
.nav_list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color--primary--300) !important; /* Accent color for hover effect */
  transition: width 0.3s ease;
}

.nav_list a:hover::after,
.nav_list a.active::after {
  width: 100%;
}

.nav_list a:hover,
.nav_list a.active {
  color: var(--color--primary--300) !important;/* Slightly lighter color on hover */

}

aside{
background-color: var(--color--primary--500) !important;
max-height: 100dvh;
min-height: 100dvh;;



/* min-width: 500px; */
max-width: 350px;

padding: 5em;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

color: var(--color--primary--100);

h2{
  line-height: 2.8rem;
}

.header{
  margin-bottom: 4em;
}

.user_profile_container{
  width: 90%;
}

.user-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-top: var(--color--primary--100) 1px solid !important;

  padding: 3em 0;


  .name{
    margin-left: 1em;
  }
}

img{
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

ul{
  /* border: #f1f1f1 1px solid; */
  list-style-type: none;
}
li{
  margin: 1.4em 0;
  font-size: clamp(1rem, 1.4rem + 0.5vw, 2rem);
}

li:hover{

}


.icon_dashboard::before{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.8rem' height='1.8rem' viewBox='0 0 24 24'%3E%3Cpath fill='%23fafafa' d='M10.995 4.68v3.88A2.44 2.44 0 0 1 8.545 11h-3.86a2.38 2.38 0 0 1-1.72-.72a2.4 2.4 0 0 1-.71-1.72V4.69a2.44 2.44 0 0 1 2.43-2.44h3.87a2.42 2.42 0 0 1 1.72.72a2.4 2.4 0 0 1 .72 1.71m10.75.01v3.87a2.46 2.46 0 0 1-2.43 2.44h-3.88a2.5 2.5 0 0 1-1.73-.71a2.44 2.44 0 0 1-.71-1.73V4.69a2.4 2.4 0 0 1 .72-1.72a2.42 2.42 0 0 1 1.72-.72h3.87a2.46 2.46 0 0 1 2.44 2.44m0 10.75v3.87a2.46 2.46 0 0 1-2.43 2.44h-3.88a2.5 2.5 0 0 1-1.75-.69a2.42 2.42 0 0 1-.71-1.73v-3.87a2.4 2.4 0 0 1 .72-1.72a2.42 2.42 0 0 1 1.72-.72h3.87a2.46 2.46 0 0 1 2.44 2.44zm-10.75.01v3.87a2.46 2.46 0 0 1-2.45 2.43h-3.86a2.42 2.42 0 0 1-2.43-2.43v-3.87A2.46 2.46 0 0 1 4.685 13h3.87a2.5 2.5 0 0 1 1.73.72a2.45 2.45 0 0 1 .71 1.73'/%3E%3C/svg%3E");

  display: inline-block;
    /* width: 1em;
    height: 1em;
    vertical-align: middle; */
    margin-right: 1em;
    float: left;

}

.icon_students::before{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.8em' height='1.8em' viewBox='0 0 256 256'%3E%3Cpath fill='%23fafafa' d='m226.53 56.41l-96-32a8 8 0 0 0-5.06 0l-96 32A8 8 0 0 0 24 64v80a8 8 0 0 0 16 0V75.1l33.59 11.19a64 64 0 0 0 20.65 88.05c-18 7.06-33.56 19.83-44.94 37.29a8 8 0 1 0 13.4 8.74C77.77 197.25 101.57 184 128 184s50.23 13.25 65.3 36.37a8 8 0 0 0 13.4-8.74c-11.38-17.46-27-30.23-44.94-37.29a64 64 0 0 0 20.65-88l44.12-14.7a8 8 0 0 0 0-15.18ZM176 120a48 48 0 1 1-86.65-28.45l36.12 12a8 8 0 0 0 5.06 0l36.12-12A47.9 47.9 0 0 1 176 120'/%3E%3C/svg%3E");

  display: inline-block;
  /* width: 1em;
  height: 1em;
  vertical-align: middle; */
  margin-right: 1em;
  float: left;
}

.icon_teachers::before{
  content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.8em' height='1.8em' viewBox='0 0 24 24'%3E%3Cpath fill='%23fafafa' d='M20 17a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H9.46c.35.61.54 1.3.54 2h10v11h-9v2m4-10v2H9v13H7v-6H5v6H3v-8H1.5V9a2 2 0 0 1 2-2zM8 4a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");

  display: inline-block;
  /* width: 1em;
  height: 1em;
  vertical-align: middle; */
  margin-right: 1em;
  float: left;
}
.all_students::before{
  content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' viewBox='0 0 16 16'%3E%3Cpath fill='%23fafafa' d='M7 14s-1 0-1-1s1-4 5-4s5 3 5 4s-1 1-1 1zm4-6a3 3 0 1 0 0-6a3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5'/%3E%3C/svg%3E");


  display: inline-block;
  /* width: 1em;
  height: 1em;
  vertical-align: middle; */
  margin-right: 1em;
  float: left;
}

.all_teachers::before{
  content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2em' height='2em' viewBox='0 0 24 24'%3E%3Cpath fill='%23fafafa' d='M20 17a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H9.46c.35.61.54 1.3.54 2h10v11h-9v2m4-10v2H9v13H7v-6H5v6H3v-8H1.5V9a2 2 0 0 1 2-2zM8 4a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");


  display: inline-block;
  /* width: 1em;
  height: 1em;
  vertical-align: middle; */
  margin-right: 1em;
  float: left;
}


.logout{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 4em 0;

  .logout-btn{
    font-size: 1.6rem;
    font-family: var(--ff--secondary);

    padding: 0.4em 1em;
    width: 100%;

    background-color: var(--color--primary--100);
    border: none;
    border-radius: 6px;
  }

  button{
    transition: background-color, box-shadow 0.3s ease; 
  }

  button:hover{
    background-color: var(--color--primary--500);
    box-shadow: 0 4px 15px rgba(198, 130, 3, 0.6);
  }
}
}

/* General styles */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.burger-menu .line {
  width: 100%;
  height: 4px;
  background-color: var(--color--primary--500);
  border-radius: 10px;
}

.edit-profile-btn {
  display: inline-block;
  background: var(--color--primary--300) !important;
  color: var(--color--primary--100);
  padding: .6em;
  margin: .2em;
  border-radius: 4px;
  font-family: var(--ff--secondary);
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s;
  cursor: pointer;
}

.edit-profile-btn:hover {
  background: #1a1a1a !important;
}


section:nth-child(2){
  background-color: var(--color--primary--200);
  margin: 2em;
  padding: 2em;
  border-radius: 4em;

  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    border-radius: 24px;

    background-color: var(--color--primary--100);

    margin-bottom: 2em;
  }

  .add_department{

    button{
      border: none;
      background: none;
    }

    svg{
      width: 3.4em;
      height: 3.4em;
      transition: scale, fill 0.3s ease;
    }


    svg:hover{
      fill: var(--color--primary--500);
      transform: scale(1.1);
    }
  }

  /* Container for the search bar */
.search-bar {

  border: 1px solid var(--color--primary--300);
  border-radius: 22px;
  overflow: hidden;
  background-color: var(--color--primary--100);
}

/* Search input field */
.search-input {
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #333;
  border-radius: 22px 0 0 22px;
}

/* Search button */
.search-btn {
  background-color: var(--color--primary--300);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0 22px 22px 0;
}

/* Hover effect for the button */
.search-btn:hover {
  background-color: var(--color--primary--500);
  transition: .30s linear ;
}

/* Focus effect for the input field */
.search-input:focus {
  border-color: var(--color--primary--500);
}

.student_container{
  /* background-color: var(--color--primary--300); */

  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, auto));
  grid-gap: 3em 6em ;
  padding: 2em;

  *{
    margin: .1em 0;
  }

  h2{
    line-height: 1.1;
  }

  svg {
    /* filter: drop-shadow(0 4px 8px rgba(37, 20, 20, 0.363)); */
  }
  

  .folder{
    background-color: var(--color--primary--200);

   /* border-radius: 50px; */

box-shadow:  -26px 26px 52px #e1e1e1,
            26px -26px 52px #ffffff;
            border-radius: 24px;
            padding: 2.8em;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            position: relative;


            .remove_department {
              position: absolute; /* Absolute positioning relative to .folder */
              top: 10px;
              right: 10px;
              cursor: pointer;

              button{
                background: none;
                border: none;
              }
          }              
          .remove_department svg {
                width: 2.4em;
                height: 2.4em;
                transition: transform 0.2s ease, fill 0.2s ease;
            }

            .remove_department:hover svg {
              transform: scale(1.2);
              fill: #ff4d4d !important; /* Highlight color on hover */
          }


.open_btn {

button{
    font-size: 1.6rem;
    font-family: var(--ff--secondary);
    padding: 0.4em;
    margin: .4em 0;

    border: none;
    border-radius: 6px;

    color: var(--color--primary--100);
    background-color: var(--color--primary--300);

    transition: background-color, box-shadow, scale 0.3s ease; 
  }

button:hover{
    background-color: var(--color--primary--500);
    scale: 1.1;
    box-shadow: 0 4px 15px rgba(198, 130, 3, 0.6);
  }

}
}

.header_wrapper{
  /* background-color: var(--color--primary--500); */
  padding: 2em;
  border-radius: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;


  svg{
    fill: var(--color--primary--500);
    filter: drop-shadow(0 4px 8px rgba(37, 20, 20, 0.363));

    transition: fill 0.3s ease;
  }

  svg:hover{
    fill: var(--color--primary--300);
    
  }
}
}
}


/* media */
@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--color--primary--500);
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }

  aside.open {
    left: 0;
  }

  .burger-menu {
    display: flex;
  }

  main {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
}